Web_Fundamentals/CSS/Portfolio/Practice.html
Web_Fundamentals/CSS/Portfolio/Poop.css
Exam/ad-one.png
Exam/ad-two.png
Exam/box-icon.png
Exam/car-icon-front.png
Exam/car-icon-side.png
Exam/list-icon.png
Exam/main-banner.png
Exam/safeway-banner.png
Exam/store-icon.png
Exam/TRamirezWFExam.zip
Exam/TRamirezWFExam1.css
Exam/TRamirezWFExam1.html
Exam/truck-icon.png
Exam/user-icon.png
Practice/Practice.js