* {
    margin: 0;
    padding: 0;
}

/* If you don't know what this is slap yourself */
#wrapper {
    height: 1100px;
    width: 1120px;
    background-color: #6F5964;
}

/* Name and title box in white at the top */
#header {
    height: 70px;
    min-width: 100px;
    padding: 0px 30px 0px 30px;
    background-color: #F6F6F6;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

/* Mark Walberg picture formatting, he don't fuck around */
#me {
    height: 300px;
    width: 480px;
    margin: 30px 0px 0px 30px;
    border-style: solid;
    border-width: 5px;
    border-color: #C0C0C0;
}

/* Wrapper for the about me/bro section */
#about {
    height: 310px;
    width: 537px;
    margin: 30px 0px 0px 30px;
    background-color: #DDCFDC;
    display: inline-block;
    vertical-align: top;
}

/* h2 titles in the grey boxes above pink boxes */
.desc {
    height: 20px;
    width: auto 0;
    padding: 10px;
    background-color: #888794;
    display: flex;
    align-items: center;
}

/* h2 titles for the tools used/shit I used */
.desc2 {
    height: 20px;
    width: auto 0;
    padding: 10px;
    margin: 80px 0px 0px 0px;
    background-color: #888794;
    display: flex;
    align-items: center;
}

/* Wrapper for the 3 content boxes with website, description, and coding languages */
#content {
    display: flex;
    justify-content:space-evenly;
}

/* 3 content boxes with info */
.info {
    height: 640px;
    width: 334px;
    background-color: #DDCFDC;
    margin: 20px 0px 0px 0px
}

/* coding langauges used formatting "START" */
.tools1{
    display: flex;
    flex-wrap: wrap;
}

.tools2 {
    height: 40px;
    width: 40px;
    padding: 10px;
}
/* coding languages used formatting "END" */

/* Links/buttons at the bottom of the content boxes */
.button {
    display: flex;
    justify-content: center;
    margin: 0px 120px 0px 120px;
    padding: 2px 2px 2px 2px;
    border: solid;
    border-radius: 10px;
    text-decoration: none;
}

/* The ending piece to this shit at the bottoms with links */
#footer {
    height: 70px;
    width: 1120px;
    background-color: #F6F6F6;
}

ul{
    display: flex;
    flex-wrap: wrap;
}

img {
    height: 150px;
    width: 334px;
}

p {
    padding: 10px;
}

ul li {
    list-style: none;
}